@using ShatteredSunCommunity.Components.Pages
@using ShatteredSunCommunity.Models
@using ShatteredSunCommunity.UnitSelect
@using System.ComponentModel
@inject UnitSelectLists select
@inject SelectionState selectionState
<table>
    @foreach (var item in select.GroupBy.Items)
    {
        <tr>
            <th>@item.Header</th>
            <td>
                <select @bind="item.Selected">
                    @foreach (var option in item.Options)
                    {
                        <option value="@option">@option</option>
                    }
                </select>
            </td>
        </tr>
    }
</table>

@code {

    void selectUpdated(object sender, EventArgs args)
    {
        base.StateHasChanged();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        selectionState.SelectionStateChanged += selectUpdated;
    }

    public void Dispose()
    {
        selectionState.SelectionStateChanged -= selectUpdated;
    }
}
