@page "/unitView"
@using ShatteredSunCommunity.Models
@inject Models.SanctuarySunData data
@rendermode InteractiveServer

<PageTitle>Unit Viewer</PageTitle>

<h3>UnitView</h3>
<table>
    <tbody>
        @foreach (var item in data.Units)
        {
            <tr>
                <th>TpId</th>
                <td>item.TpId</td>
            </tr>
        }
    </tbody>
</table>

@code {
    
}
