.unitImageFrame {
    width: 150px;
    height: 150px;
    vertical-align: top;
    /* border: solid;*/
}

.unitImage {
    width: 140px;
    height: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table.unitTable, th.unitRow, td.unitCol {
    table-layout: fixed;
    /* border: 1px solid black; 
    border-collapse: collapse;
        */
}

table.unitTable {
    width: 100px;
    border: 1px solid black;
    border-collapse: collapse;
}

td.unitCol {
    width: 120px;
}

th {
    position: sticky;
    top: 0;
}

td.unitView {
    vertical-align: top;
}

div.divThumbnail {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

/*
th.unitHeader {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

th.lastUnitHeader {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
    */
.filteringControl {
    /* width: 210px; */
    white-space: nowrap;
    vertical-align: top;
}

.unitViewContainer {
    white-space: nowrap;
    vertical-align: top;
}

.unitViewTable {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}

tr.break, td.break, hr.break {
    height: 1px;
    line-height: 1px;
    border: 1px groove #9fc4f1;
    padding: 0;
}
