@page "/unitView"
@inherits LayoutComponentBase
@using ShatteredSunCommunity.Models
@using Components.Pages
@using System.Reflection
@inject Models.SanctuarySunData data
@rendermode InteractiveServer

<style>
    * {
        border: none;
    }
</style>
<PageTitle>Unit Viewer</PageTitle>


<h1 class="unitView">UnitView</h1>
<h2>@ProductName</h2>
<UnitGrouping/>
<table>
    <tbody>
        @foreach (var item in data.Units)
        {
            <tr>
                <td>
                    <UnitViewData Item=@item />
                </td>
            </tr>
            <tr>
                <td><hr/></td>
            </tr>
        }
    </tbody>
</table>

@code {
    public string ProductName => Assembly.GetEntryAssembly()?.GetCustomAttribute<AssemblyProductAttribute>()?.Product;
}
