@page "/unitView"
@inherits LayoutComponentBase
@using ShatteredSunCommunity.Models
@using ShatteredSunCommunity.UnitSelect
@using Components.Pages
@using System.Reflection
@using System.ComponentModel
@inject Models.SanctuarySunData data
@inject UnitSelectLists select
@rendermode InteractiveServer
@implements IDisposable

<style>
    * {
        border: none;
    }
</style>
<PageTitle>Unit Viewer</PageTitle>


<h1 class="unitView">UnitView</h1>
<h2>@ProductName</h2>
<UnitSelect />
<table>
    <tbody>
        <tr>
        </tr>
        @foreach (var item in data.Units)
        {
            <tr>
                <td>
                    <UnitViewData Item=@item />
                </td>
            </tr>
            <tr>
                <td><hr/></td>
            </tr>
        }
    </tbody>
</table>

@code {
    UnitSelectListGroupBy groupBy => select.GroupBy;
    public string ProductName => Assembly.GetEntryAssembly()?.GetCustomAttribute<AssemblyProductAttribute>()?.Product;

    void selectUpdated(object sender, PropertyChangingEventArgs args)
    {
        base.StateHasChanged();
    }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        select.PropertyChanging += selectUpdated;
    }

    public void Dispose()
    {
        select.PropertyChanging -= selectUpdated;
    }
}
