@using ShatteredSunCommunity.Models
@using ShatteredSunCommunity.UnitSelect
<table>
    <tr>
        <th>Group by field:</th>
        <td>
            <select @bind="GroupBy.Text">
                @foreach (var item in GroupBy.SortedItems)
                {
                    <option value=@item.FieldName>@item.DisplayName</option>
                }
            </select>
        </td>
        <th>Group by value:</th>
        <td>
            <select @bind="GroupBy.Value.Text" disabled="@GroupBy.ValueDisabled">
                @if (!GroupBy.ValueDisabled)
                {
                    foreach (var item in GroupBy.Value.Values)
                    {
                        <option value=@item>@item</option>
                    }
                }
            </select>
        </td>
    </tr>
    <tr>
        <th>then Group by</th>
    </tr>
</table>

@code {
    [Parameter]
    public UnitSelectList GroupBy { get; set; }
}
