@page "/unitView"
@inherits LayoutComponentBase
@using ShatteredSunCommunity.Models
@using Components.Pages
@inject Models.SanctuarySunData data
@rendermode InteractiveServer

<style>
    .unitView {
        border-style: solid;
        border: 1px solid black;
    }

</style>
<PageTitle>Unit Viewer</PageTitle>

<h1 class="unitView">UnitView</h1>
<h3 class="unitView">UnitView</h3>
<table>
    <tbody>
        @foreach (var item in data.Units)
        {
            <UnitViewData Item=@item/>
        }
    </tbody>
</table>

@code {
    
}
