body {
    color: white;
}
td, th {
    font-size: 0.875em; /* 14px/16=0.875em */
    /* color: white; */
}
/*
div.backgroundDiv {
    background-image: url("Images/background_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}
*/
.unitImageFrame {
    width: 150px;
    height: 150px;
    vertical-align: top;
    /* border: solid;*/
}

.unitImage {
    width: 140px;
    height: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table.unitTable, th.unitRow, td.unitCol {
    table-layout: fixed;
}

table.unitTable {
    table-layout: fixed;
    border-top: 1px solid black;
    width: 400px;
    padding: 2px;
}

.unitView {
    width: 100%;
}

div.unitView {
    margin-bottom: 2px;
    border: 1px solid black;
}

tr.unitViewRow {
    /*
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 1em;
        */
    padding-bottom: 1em;
}

td.unitCol {
    width: 120px;
}

th {
    position: sticky;
    top: 0;
}

td.unitView {
    vertical-align: top;
    width: 400px;
    font-size: 12pt;
    /*
    border: 1px solid black;
    border-collapse: separate;
    padding-bottom: 1em;
        */
}

div.divThumbnail {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.filteringControl {
    /* width: 210px; */
    white-space: nowrap;
    vertical-align: top;
}

div.unitViewContainer {
    white-space: nowrap;
    vertical-align: top;
}



.unitViewTable {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}

tr.break, td.break, hr.break {
    height: 1px;
    line-height: 1px;
    border: 1px dotted #9fc4f1;
    padding: 0;
}

.showBorderIfThumbClass {
    border: 1px solid black;
    border-collapse: collapse;
}

.hideIfThumbClass {
    display: none;
}
