@page "/unitView"
@inherits LayoutComponentBase
@using ShatteredSunCommunity.Components.PageComponents
@using ShatteredSunCommunity.Models
@using Components.Pages
@using Components.PageComponents
@using System.Reflection
@using System.ComponentModel
@inject Models.SanctuarySunData data
@rendermode InteractiveServer
@implements IDisposable

<style>
    * {
        border: none;
    }
</style>
<PageTitle>Unit Viewer</PageTitle>


<h1 class="unitView">UnitView</h1>
<h2>@ProductName</h2>
<table>
    <tbody>
        <tr>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <UnitViewGroupData />

            </td>
        </tr>
    </tbody>
</table>


@code {
    public string ProductName => Assembly.GetEntryAssembly()?.GetCustomAttribute<AssemblyProductAttribute>()?.Product;

    void selectUpdated(object sender, EventArgs args)
    {
        base.StateHasChanged();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

        public void Dispose()
    {
    }
}
